html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
}

.hero-body {
  padding: 1rem;
}

.title,
.subtitle {
  color: #363636 !important;
}

.subtitle {
  font-size: 0.9em !important;
}

@media only screen and (max-width: 768px) {
  .breadcrumb a,
  .breadcrumb li {
    font-size: 0.9em;
    height: 21px;
  }
}

.hero {
  margin-bottom: 20px;
}

.card {
  border-radius: 50px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -8px 8px 16px #e8e8e8, 8px -8px 16px #ffffff;
  margin: 1em;
}

.card img {
  padding: 20px;
}

.is-flag {
  padding: 0 !important;
}

.player-card {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  z-index: 2;
  border-radius: 50px;
  background: #3298dc;
  box-shadow: inset -7px 7px 14px #2b81bb, inset 7px -7px 14px #3aaffd;
}

.player-card .title,
.subtitle {
  color: #eae2e2;
}

main {
  padding: 15px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}
