html, body {
  background: #272822;
}

div.card {
  background: #54676733;
}

a strong, pre code {
  color: #f5f5f5;
}

.title {
  color: #eae2e2;
}

.subtitle {
  color: #a5a1a1;
}

.breadcrumb li.is-active a {
  color: #eae2e2;
}

.breadcrumb a:hover {
  color: #929292;
}