html,
body {
  background: #36363a;
}

div.card {
  border-radius: 50px;
  background: linear-gradient(225deg, #3a3a3e, #313134);
  box-shadow: -8px 8px 16px #313134, 8px -8px 16px #3b3b40;
  margin: 1em;
}

a strong,
pre code {
  color: #f5f5f5;
}

.title {
  color: #eae2e2;
}

.subtitle {
  color: #a5a1a1;
}

.breadcrumb li.is-active a {
  color: #eae2e2;
}

.breadcrumb a:hover {
  color: #929292;
}
